<% include ../partials/header-crud%>
<div class="container">
  <div class="">
    <h1 style="text-align:center;">Tambah Data TempatWisatas</h1>
    <div style="width:30%;margin: 25px auto;">
      <form class="" action="/TempatWisatas/create" method="post">
        <div class="form-group">
          <label for="">Destinasi</label>
          <input class="form-control" type="text" name="destinasi" value="" required>
        </div>
        <div class="form-group">
          <label for="">Paket</label>
          <select type="text" name="paket" class="form-control" required>
            <option value="Bisnis">Bisnis</option>
            <option value="Vip">Vip</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Harga</label>
          <input type="text" name="harga" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="">fasilitas</label>
          <input type="text" name="fasilitas" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="">image</label>
          <input type="text" name="image" class="form-control" required>
        </div>
        <button type="submit" >submit</button>
      </form>
    </div>
  </div>
</div>
